{% extends "base.html" %}

<!--{% block navbar %}-->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>-->
<!--    </li>-->

<!--{% endblock %}-->


{% block content %}

<div class="container">
  {% with messages = get_flashed_messages(category_filter=['success']) %}

        {% if messages %}
            {% for message in messages %}
                <p class="success">{{message}}</p>
            {% endfor %}
        {% endif %}
   {% endwith %}

  <h1 class="title">Welcome, {{ name }}!</h1>
  <a href="{{ url_for('download', filename='cheat_sheet.pdf') }}">Download Your File</a>
</div>

{% endblock %}