{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %} Edit Portfolio {% endblock %}

{% block styles %}
    <link href="static/assets/css/style.css" rel="stylesheet">

{% endblock %}

{% block content %}
<header>
        <h1>Edit Portfolio details</h1>
</header>

<div class="container">

    <div class="section-title">
        <h2>Add new skill</h2>
    </div>

    <div>
        <button class="btn btn-light" type="button">
            <a href="{{ url_for('edit')}}" >Add new Skill</a>  </button>
    </div>
</div>

<div>
</div>



{% endblock %}